registry=https://registry.npmmirror.com

npm_config_sharp_binary_host=https://registry.npmmirror.com/-/binary/sharp
npm_config_sharp_libvips_binary_host=https://registry.npmmirror.com/-/binary/sharp-libvips